$colors: (
    lorem: #69D2E7,
    ipsum: #F38630,
    dolor: #E9AEAF
);

$secondary-color: #E0E4CC;

$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: Georgia, 'Times New Roman', Times, serif;
